# Last update: fix video rename feature

git+https://github.com/esawebb-hubble/djangoplicity.git@main
git+https://github.com/esawebb-hubble/djangoplicity-actions.git@main
git+https://github.com/esawebb-hubble/djangoplicity-customsearch.git@main
git+https://github.com/esawebb-hubble/djangoplicity-newsletters.git@main
git+https://github.com/esawebb-hubble/djangoplicity-products2@main

