{% extends "core.html" %}

{% block content_area %}
{#
  Note for developers:
  The <main> landmark is already defined in the parent template 'core.html'.
  Each page extending this template should define a unique <h1> as its main title for accessibility.
#}
<div class="container" id="page-content">
    <search>
        <div class="row no-page">
            <div class="col-md-12">
                {% block archive_search %}
                {% endblock %}
            </div>
        </div>
    </search>
    {% block body %}
    {% endblock %}
</div>

{% endblock %}
